<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

       <div class="hero-content"> 

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-left">
            {% if site.description != '' %}
            {{site.description}}</br>
            {{site.description1}} <a href="https://pvtokmakov.github.io/home/img/cv_7.pdf">here</a>. A full list of publications is avaliable on <a href="https://scholar.google.fr/citations?user=b15vJuEAAAAJ&hl=en">Google Scholar.</a>
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

         <br/><h2 class="text-center">Selected publications</h2>

        </div>

      </div>

    </div>

  </div>

</div>
