<div class="content">
  <h3 class="title">{{ post.title }}</h3>

  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.project_link != empty %}
  <a href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg">{{post.button_text}}</button></a>
   {% endif %}
  {% if post.code_link != empty %} 
 <a href="{{ post.code_link }}" class="project-link"><button class="btn btn-default btn-lg">{{post.code_text}}</button></a>
   {% endif %}
   {% if post.site_link != empty %}
   <a href="{{ post.site_link }}" class="project-link"><button class="btn btn-default btn-lg">{{post.project_text}}</button></a>
 {% endif %}

  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
